<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Restocheck Demo</title>
        {% block javascripts %}
            {% javascripts '@AcmeFeedbackBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}    
        {% block stylesheets %}    
            {% stylesheets '@AcmeFeedbackBundle/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}    

    </head>
    <body>

        {{ form_start(form) }}
        {% for key, value in form %}
            {% set key = value %}
        {% endfor %}
        {{ form_end(form) }}
    </body>    
</html>