<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Restocheck Thank You</title>
    </head>
    <body>
        {% trans %} thank_u {% endtrans %}
        <a href="{{ path('acme_target_route') }}">{% trans %} new_feedback {% endtrans %}</a>
    </body>    
</html>